@using System.Web.Optimization
<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>@ViewBag.Title</title>
        @Scripts.Render("~/libs")
        @Scripts.Render("~/app")
    </head>
    <body>
        @RenderBody()
    </body>
</html>